.OuterLoginContainer {
    display: flex;
    justify-content: center;
    background-color: #1A1A1D;
    height: 100vh;
    align-items: center;
}

.login_heading {
    color: white;
    font-size: 3rem;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
    width: max-content;
    margin: 0 auto 10% auto;
}

.InnerLoginContainer {
    width: 30%;
}
@media (min-width: 320px) and (max-width: 517px) {
    .InnerLoginContainer {
        width: 90%;
    }
}
.login-button {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    background: gray;
    padding: 15px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    width: 100%;
    cursor: pointer;
}

.login-button:hover {
    background: rgb(12, 11, 11);
    color: white
}

.login-button:focus {
    outline: 0;
}
