.history-info {
    border: 1.5px solid gray;
    padding: 14px;
    background-color: rgb(224, 213, 213);
    margin: 5% auto;
}

li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.item_name {
    float: left;
    margin-top: -3%;
}

.item_amount {
    float: right;
    margin-top: -3%;
    padding-right: 10px;
    margin-right: -16px;
    height: 28px;
}

@media (max-width: 517px){
    .item_name {
        margin-top: -3.2%
    }
    .item_amount {
        margin-top: -3.2%;
        padding-right: 10px;
        margin-right: -14px;
        height: 27px;
    }
}
@media (max-width: 454px) {
    .item_amount {
        height: 26px;
    }
}
@media (max-width: 408px){
    .item_amount{
        height: 25px;
    }
}
@media (max-width: 368px) {
    .item_amount {
        height: 24px;
    }
}